/* ---------- app & web Main Disp  --------- */
html, body, #root {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.app-firstDiv {
    height: 100%;
    
}

.bg_1 {
    height: 100%;
    background-image: linear-gradient(to bottom, #7ea4ef, #94d0f2);
}

.bg_2 {
    height: 100%;
    background-image: linear-gradient(to bottom, #6879d0, #d3968e);
}

.bg_3 {
    height: 100%;
    background-image: linear-gradient(to bottom, #266197, #bca8c3);
}

.bg_4 {
    height: 100%;
    background-image: linear-gradient(to bottom, #adc1ee, #e2c5f8);
}

.app-mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.app-contentDiv {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.app-leftDiv {
    width: 10%;
    flex-direction: column;
    display: flex;
    padding-top: 84px;
    align-items: center;
    justify-content: top;
    box-shadow: 3px 2px 8px 0 rgba(0, 0, 0, 0.16);
}

.app-leftDiv a {
    width: 32px;
    height: 32px;
    margin-bottom: 50px;
}

.app-rightDiv {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    overflow: auto;
}

/* ---------- userInfo css ---------- */
.app-userInfoDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0;
    left : 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 1000;
}

.app-userInfo {
    border: 1px solid black;
    width: 300px;
    height: 170px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.userInfo-colorDiv {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userInfo-TagDiv {
    padding-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userInfo-button {
    margin-top: 20px;
    width: 50%;
}

/* ---------- main css ---------- */

.tui-div {
    width: 90%;
    height: 100%;
    margin-top: 20px;
}

.app-dash {
    flex-direction: row;
    background-color: #faefe0;
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.dash-boardDiv {
    display: flex;
    width: 100%;
    height: 100%;
}

.slack-mainDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.slack-dash {
  border: 1px solid black;
  border-radius: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  flex-wrap: wrap;
}

/* ---------- token verify disp span ---------- */
.slacklogin-maindiv {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.loadMaskDiv {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.loadMask {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.1;
}

.slack-mainDiv {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 4%;
    margin-right: -2.5%;
    width: 30%;
}

.slack-dash {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/* 메뉴 그림 css */
.main-menu-1 {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.main-menu-2 {
    width: 34px;
    height: 34px;
    object-fit: contain;
}

.main-menu-3 {
    width: 30px;
    height: 33px;
    object-fit: contain;
}

.main-menu-4 {
    width: 28px;
    height: 4px;
    object-fit: contain;
}

/* 메뉴 옆 그림자 */
.vertical {
    width: 3px;
    height: 100%;
    -webkit-filter: blur(14px);
    filter: blur(14px);
    background-color: rgba(0, 0, 0, 0.2);
}

/* 인트로 css */
.intro {
    width: 47%;
    height: 70px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 12LotteMartDream;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ffffff;
    align-self: flex-start;
    padding: 50px 30% 0px 5%;
}

/* 지각자, 휴가자 배경 css */
.people {
    width: 88%;
    height: 43px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.17);
    margin-top: 30px;
    padding: 11px;
}

.tardy {
    width: 48px;
    height: 18px;
    font-family: 12LotteMartDream;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-left: 1%;
}

.vacation {
    width: 48px;
    height: 18px;
    font-family: 12LotteMartDream;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-left: 43%;
}

/* design CSS */
.design {
    /* height: 100%; */
    position: relative;
}

.cloud_1 {
    width: 89px;
    height: 50px;
    object-fit: contain;
    position: absolute;
    top: -50px;
    left: -130px;
}

.cloud_2 {
    width: 51px;
    height: 29px;
    object-fit: contain;
    opacity: 0.6;
    position: absolute;
    top: 60px;
    left: 150px;
}

.cloud_3 {
    width: 35px;
    height: 22px;
    object-fit: contain;
    opacity: 0.8;
    position: absolute;
    top: -95px;
    left: 390px;
}

.task {
    width: 85px;
    height: 85px;
    object-fit: contain;
    position: absolute;
    top: -80px;
    left: 330px;
}