/* ---------- app & web Main Disp  ---------*/
html, body, #root {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.app-firstDiv {
    height: 100%;
}

.app-mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.app-contentDiv {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
}

.app-leftDiv {
    width: 10%;
    border-right: .1px solid black;
    flex-direction: column;
    display: flex;
}

.app-rightDiv {
    display: inline-flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
}

.tui-div {
    width: 80%;
    height: 100%;
}

.app-dash {
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    display: flex;
    width: 20%;
    overflow-y: scroll;
}

.dash-boardDiv {
    width: 100%;
    height: 100%;
}

/* ---------- token verify disp span ----------*/
.slacklogin-maindiv {
    align-self: center;
    justify-items: center;
}

.loadMaskDiv {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.loadMask {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.1;
}

.slack-mainDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.slack-dash {
    border: 1px solid black;
    border-radius: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    flex-wrap: wrap;
}