.app-mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.slack-mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.slacklogin-maindiv {
  align-self: center;
  padding-top: 320px;
}

.slack-dashboardDiv {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.slack-dash {
  border: 1px solid black;
  height: 250px;
  flex-grow: 1;
}

@media (min-width : 861px) {
    .slack-dash {
      flex-basis: 45%;
    }
}

@media (max-width : 860px) {
    .slack-dash {
      flex-basis: 65%;
    }
}