.mypage-mainDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.mypage-upDiv {
    height: 70%;
}

.mypage-progDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

.mypage-progressBarDiv {
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    width: 70%;
    height: 60%;
}

.mypage-DashDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.mypage-Dash {
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
    height: 30%;
}

.mypage-downDiv {
    border-top: 0.1px solid black;
    overflow-y: scroll;
    width: 100%;
    height: 10%;
}