.Employee-mainDiv {
    
}

.Employee_title {
    width: 115px;
    height: 30px;
    font-family: 12LotteMartDream;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }