/* 전체 Div */
.page_container {
    text-align: center;
    margin-top: 30px;
}

/* Page ul css */
.page-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
}

/* Page li css */
.page-li {
    width: 37px;
    height: 37px;
    margin: 0 15px; /* list 사이 여백 */
    font-family: NanumBarunGothic;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777777;
}

/* active Page li css */
.page-li-active {
    width: 37px;
    height: 37px;
    margin: 0 15px; /* list 사이 여백 */
    font-family: NanumBarunGothic;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer;
    background-color: #6c84ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}