.grouppage-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: mypageload;
    animation-duration: 1s;
    position: relative;
}

.grouppage-top {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.grouppage-bot {
    margin-top: 130px;
}

/* --- title and box section ---*/
.grouppage-title {
    font-family: 12LotteMartDream;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
}

.grouppage-box {
    width: 100%;
    width: 100%;
    height: 810px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-top: 27px;
}

.grouppage-box-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-left: 40px;
    margin-right: 22px;
}

.grouppage-box-title-text {
    font-family: 12LotteMartDream;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.grouppage-box-title-filter {
    width: 84px;
    height: 30px;
    border-radius: 27.5px;
    background-color: #2e3681;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.grouppage-filter-circle {
    width: 20px;
    height: 20px;
    object-fit: contain;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.grouppage-filter-text {
    font-family: NanumBarunGothic;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

.grouppage-box-header {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 11px;
}

.grouppage-box-header-text-id, .grouppage-box-header-text-name, .grouppage-box-header-text-holiday, .grouppage-box-header-text-tardy
, .grouppage-box-header-text-over, .grouppage-box-header-text-total, .grouppage-box-header-text-atten {
    font-family: NanumBarunGothic;
    font-size: 15px;
    font-weight: bold;
    color: #777777;
    white-space: nowrap;
}

.grouppage-box-header-text-id {
    margin-left: 40px;
    margin-right: 20px;
    width: 30px;
}

.grouppage-box-header-text-name {
    margin-right: 102px;
    width: 30px;
}

.grouppage-box-header-text-holiday {
    margin-right: 20px;
    width: 60px;
}

.grouppage-box-header-text-tardy {
    margin-right: 50px;
    width: 30px;
}

.grouppage-box-header-text-over {
    margin-right: 59px;
    width: 30px;
}

.grouppage-box-header-text-total {
    margin-right: 33px;
    width: 50px;
}

.grouppage-box-header-text-atten {
    margin-right: 50px;
    width: 30px;
}

.grouppage-box-lines {
    width: 100%;
    height: 3px;
    display: flex;
    flex-direction: row;
}

.grouppage-box-line1 {
    width: 35%;
    height: 3px;
    background-color: #d8d9d9;
}

.grouppage-box-line2 {
    width: 30%;
    height: 3px;
    background-color: #979797;
}

.grouppage-box-line3 {
    width: 35%;
    height: 3px;
    background-color: #d8d9d9;
}

.grouppage-box-items {
    display: flex;
    flex-direction: column;
    width: 97%;
}

.grouppage-box-btn-nums {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}

/* --- item section ---*/
.groupitem-main {
    height: 48px;
    border-bottom: 1px solid rgba(179, 179, 179, 0.432);
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    justify-content: space-around;
}

.groupitem-id {
    font-family: NanumBarunGothic;
    font-size: 18px;
    color: #000000;
    width: 10px;
}

.groupitem-name {
    font-family: NanumBarunGothic;
    font-size: 18px;
    color: #000000;
    width: 60px;
    margin-right: 25px;
    margin-left: -10px;
}

.groupitem-holiday {
    font-family: NanumBarunGothic;
    font-size: 18px;
    font-weight: bold;
    color: #4ea9ff;
    width: 30px;
    text-align: center;
}

.groupitem-tardy {
    font-family: NanumBarunGothic;
    font-size: 18px;
    font-weight: bold;
    color: #ff4d4d;
    width: 30px;
    margin-right: 10px;
    text-align: center;
}

.groupitem-overtime {
    font-family: NanumBarunGothic;
    font-size: 18px;
    font-weight: bold;
    color: #f2994a;
    width: 30px;
    margin-right: 10px;
    text-align: center;
}

.groupitem-total {
    font-family: NanumBarunGothic;
    font-size: 18px;
    color: #000000;
    width: 30px;
    text-align: center;
}

.groupitem-atten {
    font-family: NanumBarunGothic;
    font-size: 18px;
    color: #000000;
    width: 40px;
    text-align: center;
}

/* --- img section ---*/
.grouppage-image-div {
    width: 100%;
    position: relative;
    display: flex;
}

.grouppage-image-ground {
    width: 100%;
    height: 40px;
}

.grouppage-image-item {
    position: absolute;
    object-fit: contain;
    height: 52px;
    bottom: 0;
    margin-left: 22px;
    margin-bottom: 24px;
}

.grouppage-image-alpaca {
    position: absolute;
    height: 52px;
    object-fit: contain;
    bottom: 0;
    right: 0;
    margin-bottom: 24px;
    margin-right: 22px;
}

@media (max-width:660px) {
    .grouppage-box-header {
        margin-top: 26px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 11px;
    }

    .grouppage-box-header-text-id {
        margin-left: 0px;
        margin-right: 0px;
        width: 30px;
    }

    .grouppage-box-header-text-name {
        margin-right: 0px;
        width: 30px;
    }

    .grouppage-box-header-text-holiday {
        margin-right: 0px;
        width: 60px;
    }

    .grouppage-box-header-text-tardy {
        margin-right: 0px;
        width: 30px;
    }

    .grouppage-box-header-text-over {
        margin-right: 0px;
        width: 30px;
    }

    .grouppage-box-header-text-total {
        margin-right: 0px;
        width: 50px;
    }

    .grouppage-box-header-text-atten {
        margin-right: 0px;
        width: 30px;
    }
}