.popup-crt-main {
    width: 570px;
    height: 700px;
    border: 1px solid rgba(85, 85, 85, 0.199);
    border-radius: 30px;
    background-color: white;
    position: absolute;
    z-index: 500;
    top: 1%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-crt-header {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.popup-crt-headerTitle {
    font-size: 18px;
    font-weight: bold;
    padding-top: 8px;
}

.popup-crt-headerCancel {
    padding-bottom: 12px;
    font-size: 28px;
}

.popup-crt-hAndBLine {
    width: 100%;
    background-color: #d8d9d9;
    height: 3px;
}

.popup-crt-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    padding-left: 20px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.popup-crt-bodyText {
    color: #777777;
    font-size: 15px;
    margin-bottom: 17px;
    margin-top: 17px;
}

.popup-crt-bodyTextContent {
    font-size: 15px;
}

.popup-crt-bodyCateContent {
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 110px;
}

.popup-crt-bodyCateMark {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: greenyellow;
}

.popup-crt-bodyPartnerContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.popup-crt-bodyPartnerBox {
    border: 1px solid rgba(153, 153, 153, 0.514);
    width: 84px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.popup-crt-bodyPartnerImg {
    border: 1px solid rgba(97, 97, 97, 0.39);
    width: 35%;
    height: 60%;
    margin-right: 7px;
}

.popup-crt-btns {
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.popup-crt-btnCreate {
    width: 43%;
    border-radius: 10px;
    border: solid 2px #6c84ff;
}

.popup-crt-bodyMemoContent {
    resize: none;
    height: 100px;
    width: 95%;
}