.popup-confirm {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 500;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popup-confirm-main {
    width: 570px;
    height: 641px;
    border: 1px solid rgba(85, 85, 85, 0.199);
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-confirm-header {
    width: 514px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
}

.popup-confirm-headerTitle {
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 17px;
}

.popup-confirm-headerCancel {
    padding-bottom: 16px;
    padding-top: 10px;
    font-size: 30px;
    cursor: pointer;
}

.popup-confirm-hAndBLine {
    width: 100%;
    background-color: #d8d9d9;
    height: 3px;
}

.popup-confirm-body {
    display: flex;
    flex-direction: column;
    width: 530px;
    margin-bottom: 44px;
    padding-left: 40px;
}

.popup-confirm-bodyText {
    color: #777777;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 17px;
}

.popup-confirm-bodyTextContent {
    font-size: 18px;
    color: #000000;
    overflow: hidden;
}

.popup-confirm-bodyCateContent {
    display: flex;
    align-items: center;
}

.popup-confirm-bodyCateMark {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: greenyellow;
    margin-right: 10px;
}

.popup-confirm-bodyPartnerContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.popup-confirm-bodyPartnerBox {
    border-radius: 4px;
    border: solid 1px #d8d9d9;
    width: 104px;
    height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 16px;
}

.popup-confirm-bodyPartnerImg {
    width: 31px;
    height: 31px;
    margin-right: 10px;
    margin-left: 10px;
}

.popup-confirm-btns {
    display: flex;
    flex-direction: row;
}

.popup-confirm-btnUpdat {
    width: 194px;
    height: 41px;
    border-radius: 10px;
    border: solid 2px #6c84ff;
    background-color: white;
    margin-right: 16px;
    margin-left: 83px;
}

.popup-confirm-btnUpdatText {
    color: #6c84ff;
    font-size: 18px;
    font-weight: bold;
}

.popup-confirm-btnDelet {
    width: 194px;
    height: 41px;
    border-radius: 10px;
    border: solid 2px #777777;
    background-color: white;
    margin-right: 75px;
}

.popup-confirm-btnDeletText {
    color: #777777;
    font-size: 16px;
    font-weight: bold;
}